<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Support"
            android:exported="false"
            android:label="@string/title_activity_support"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".AiRecommendation"
            android:exported="false"
            android:label="@string/title_activity_ai_recommendation"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".aiRecommendation"
            android:exported="false"
            android:label="@string/title_activity_ai_recommendation"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".FinishOrder"
            android:exported="false"
            android:label="@string/title_activity_finish_order"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".UserSettingMerchant"
            android:exported="false"
            android:label="@string/title_activity_user_setting_merchant"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".OrderList"
            android:exported="false"
            android:label="@string/title_activity_order"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".UserSetting"
            android:exported="false"
            android:label="@string/title_activity_user_setting"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HistoryCustomerDetail"
            android:exported="false"
            android:label="@string/title_activity_history_customer_detail"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HistoryCustomer"
            android:exported="false"
            android:label="@string/title_activity_history_customer"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Checkout"
            android:exported="false"
            android:label="@string/title_activity_checkout"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MenuList"
            android:exported="false"
            android:label="@string/title_activity_menu_list"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".AddStock"
            android:exported="false"
            android:label="@string/title_activity_add_stock"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".adapter.Adapter"
            android:exported="false"
            android:label="@string/title_activity_adapter"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".object.User"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".object.Menu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".AddMenu"
            android:exported="false"
            android:label="@string/title_activity_add_menu"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HomeCustomer"
            android:exported="false"
            android:label="@string/title_activity_home_customer"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".HomeMerchant"
            android:exported="false"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".PickRole"
            android:exported="false"
            android:label="@string/title_activity_pick_role"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>